@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    --header-background: rgb(60, 69, 98);
    --sidebar-background: rgb(57, 57, 57);
    --body-background: rgb(255, 254, 254);
    --task-background: rgb(109, 114, 132);
    --task-hover-background: rgb(117, 121, 137);
    --font-main: rgb(255, 255, 255);
    --btn-hover: rgb(77, 87, 118);
    --btn-click: rgb(32, 32, 57);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 72px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: var(--font-main);
    background-color: var(--header-background);
}

header > * {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
}

.middle {
    padding-left: 32px;
}

.headerDate {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 32px;
    padding-bottom: 9px;
    font-size: 30px;
}

header img {
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(195deg) brightness(98%) contrast(103%);
}

.headerDate {
    font-weight: 400;
    align-self: flex-end;
}

.sidebar-body-wrapper {
    display: flex;
    flex: 1;
}

.sidebar {
    font-size: 28px;
    font-weight: 600;
    width: 16vw;
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 20px 8px;
    color: var(--font-main);
    background-color: var(--sidebar-background);
}

.sidebarTitle {
    align-self: center;
}

.notebookWrapper {
    font-weight: 500;
    font-size: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 8px;
}

.sidebarProject {
    display: flex;
    justify-content: space-between;
}

.sidebarProject:hover {
    transition: 250ms;
    cursor: pointer;
    font-size: 26px;
    color: rgb(198, 198, 198);
}

.trashcanBtn {
    opacity: 0;
    height: 32px;
}

.trashcanBtnActive {
    opacity: 1;
    transition: 250ms;
    filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(270deg) brightness(106%) contrast(103%);
}

.trashcanBtnActive:hover {
    filter: invert(63%) sepia(0%) saturate(2%) hue-rotate(158deg) brightness(98%) contrast(88%);
}

.addProjectBtn {
    align-self: center;
    height: 40px;
    width: 75%;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--header-background);
    color: var(--font-main);
}

.addProjectBtn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

.addProjectBtn:active {
    background-color: var(--btn-click);
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: var(--body-background);
}

.bodyProjectWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 70vh;
    overflow: auto;
}

.bodyTaskWrapper {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 10px;
    background-color: var(--task-background);
    color: var(--font-main);
    border-radius: 16px;
    height: 36px;

}

.taskComplete {
    color: rgb(187, 187, 187);
    font-style: italic;
}

.bodyTaskWrapper:hover {
    background-color: var(--task-hover-background);
    transition: 120ms;
}

.bodyTaskTitle {
    font-size: 22px;
    flex: 1;
}

.projectCheckBtn {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    border: 1px solid white;
}

.projectCheckBtnClicked {
    background-color: rgb(47, 47, 47);
}

.bodyProjectTitle {
    font-size: 36px;
    padding-bottom: 26px;
}

.addTaskBtn {
    height: 50px;
    width: 200px;
    align-self: center;
    margin-top: 10px;
    align-self: center;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--header-background);
    color: var(--font-main);
}

.addTaskBtn:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

.addTaskBtn:active {
    background-color: var(--btn-click);
}