@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    --header-background: rgb(36, 58, 129);
    --sidebar-background: rgb(99, 99, 99);
    --body-background: rgb(255, 254, 254);
    --task-background: rgb(170, 170, 170);
    --font-main: rgb(255, 255, 255);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 72px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--font-main);
    background-color: var(--header-background);
}

header img {
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(195deg) brightness(98%) contrast(103%);
}

.sidebar-body-wrapper {
    display: flex;
    flex: 1;
}

.sidebar {
    font-size: 28px;
    font-weight: 600;
    width: 16vw;
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 20px 8px;
    color: var(--font-main);
    background-color: var(--sidebar-background);
}

.sidebarTitle {
    align-self: center;
}

.notebookWrapper {
    font-weight: 500;
    font-size: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 8px;
}

.sidebarProject {
    display: flex;
    justify-content: space-between;
}

.sidebarProject:hover {
    cursor: pointer;
    font-size: 26px;
    color: rgb(198, 198, 198);
}

.trashcanBtn {
    opacity: 0;
    height: 32px;
}

.trashcanBtnActive {
    opacity: 1;
    filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(270deg) brightness(106%) contrast(103%);
}

.trashcanBtnActive:hover {
    filter: invert(63%) sepia(0%) saturate(2%) hue-rotate(158deg) brightness(98%) contrast(88%);
}

.addProjectBtn {
    align-self: center;
    height: 40px;
    width: 75%;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--header-background);
    color: var(--font-main);
}

.addProjectBtn:hover {
    background-color: rgb(42, 42, 87);
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: var(--body-background);
}

.bodyProjectWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bodyTaskWrapper {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 10px;
    background-color: var(--task-background);
    border-radius: 12px;
    height: 50px;
}

.bodyTaskTitle {
    font-size: 24px
}

.bodyTaskDesc {
    flex: 1;
}

.bodyProjectTitle {
    font-size: 36px;
    padding-bottom: 26px;
}
